// COLORS
$body-color: #f5f5f5;
$font-color-main: #131420;
$font-color-tag: #9ea1a4;
$border-color-main: #d7d9dc;

// SIZE
$font-size-main: 15px;
$font-size-tag: 12px;
$font-size-button: 14px;
$font-zise-h2: 18px;

// BORDER
$border-radius-main: 2px;

// SHADOW
$shadow-card: 1px 1px 3px rgba(#2c2c2c, .3);
$shadow-tag: 0 1px 3px rgba(#2c2c2c, .1);