.root {
  position: relative;
  margin-bottom: 20px;
  padding-right: 20px;
  .flex {
    display: flex;
    .bot {
      margin-right: 20px;
    }
    .description {
      color: #92989b;
      font-size: 0.9em;
    }
  }
}
.loaderCenter {
  margin:  20px auto;
}

.container {
  padding: 0 25px;
  padding-bottom: 15px;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 8px 9px;
  box-sizing: border-box;
  border: 1px solid #dbdedf;
  background: #fff;
  border-radius: 3px;
  resize: none;
  outline:none;
}
.title {
  position: relative;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 15px;
}
.response {
  color: #FF3333;
  font-size: 15px;
}

.rowFlex {
  display: flex;
  justify-content: space-between;
}
.sidebarWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .sidebar {
    margin-bottom: 20px;

    margin-top: -30px;

    
  }
}

.main {
  width: 60%;
}

.isLoad {
display: flex;
justify-content: center;
}

.tableContainer{
  margin: 10px -18px 10px;
}
.tableHeader {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.table{
  width: 100%;
  background: white;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0; 

  thead{
      th{
          font-family: 'PT Sans Caption','Arial Black',sans-serif;
          font-size: 12px;
          font-weight: 700;
          white-space: nowrap;
          text-transform: uppercase;
          text-align: left;
          letter-spacing: 1px;
          line-height: 19px;
          padding: 12px 10px;
          height: 42px;
          box-sizing: border-box;
          color: #bbc1cc;
          overflow: hidden;

          &:last-child{
            border-right: none;
          }
          &:first-child{
            padding-left: 18px;
          }
      }
  }

  td{
      white-space: nowrap;
      padding: 10px 5px 10px 10px;
      margin-right: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      position: relative;
      &:first-child{
        padding-left: 18px;
      }
  }

  .cellInner{
      display: flex;
      align-items: center;
  }

  a{
      color: #0057a9;
      text-decoration: none;
  }
}


//=================

.inputContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.orgColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}

.orgHeader {
  font-size: 18px;
}

.orgDescription {
  color: #92989b;
  font-size: 15px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.inputTitle {
  margin-bottom: 3px;
}

.orgInput {
  width: 300px;
}