.main {
  position: relative;
  width: 100%;
  .title {
    font-size: 1.2em;
    font-weight: 700;
    margin: 25px 0;
  }
  .body {
    position: relative;
    width: 100%;

    .item {
      position: relative;
      width: 100%;
      cursor: pointer;

      div {
        cursor: pointer;
      }

      .header {
        position: relative;
        display: flex;
        font-size: $font-zise-h2;
      }

      .removeBtn {
        position: absolute;
        top: 18px;
        right: 18px;
      } 
    }
  }
}

.preloader {
  position: relative;
  width: 100%;
  height: calc(100vh - 89px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $body-color;

  .tokenError {
    position: relative;
    font-size: 16px;
    margin-top: 10px;
    opacity: 0.7;
  }
}