.root {
  position: relative;
  width: 100%;

  .switches {
    position: relative;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #4c8bf7;

    .switcher {
      position: relative;
      padding: 7px 10px;
      margin-right: 20px;
      cursor: pointer;
      opacity: .6;
      box-sizing: border-box;
    }

    .active {
      position: relative;
      opacity: 1;
    }

    .active::after {
      content: "";
      position: absolute;
      height: 3px;
      background: #4c8bf7;
      bottom: 0;
      width: 100%;
      left: 0;
      right: 0;
    }
  }

  .content {
    position: relative;

    .hide {
      display: none;
    }
  
    .show {
      display: flex;
    }
  }
}