.dropdown {
    position: relative;
    // width: 50%;
    height: 32px;
    font-size: 15px;
    // margin-left: 10px;

    &_disabled {
        color: #91959a;
    }
}

.button {
    position: relative;
    z-index: 10;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    max-width: 100%;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    outline: 0;
    padding-top: 1px;
    border: 1px solid #d4d5d8;
    border-bottom-width: 2px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #fcfcfc 0%, #f8f8f9 100%);
    padding-right: 25px;
    padding-left: 9px;
    color: inherit;
}

.icon {
    display: inline-block;
    position: absolute;
    top: calc(50% - 5px);
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    margin-left: 7px;
    right: 12px;
    z-index: 10;
}

.buttonInner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    position: absolute;
    display: none;
    min-width: calc(100% + 13px);
    left: -13px;
    border: 1px solid #d4d5d8;
    background-color: #fff;
    padding: 0 11px 0 0;
    margin: 0 -13px 0 0;
    border-radius: 3px;
    overflow: auto;
    bottom: auto;
    top: 0;
    list-style: none;
    z-index: 999;
    outline: none;
    overflow-x: hidden;

    &_opened {
        display: block;
    }
}

.list {
    min-width: 100%;
    background-color: #fff;
    padding: 0 11px 0 0;
    height: auto;
    margin: 0 -13px 0 0;
    overflow: auto;
    max-height: 211px;
    list-style: none;
    outline: none;
}

.listItem {
    display: flex;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    padding: 7px 15px 7px 0;
    margin: 0 -11px 0 0;
    overflow: hidden;
    box-sizing: border-box;

    &:hover {
        background-color: #f5f5f5;
    }

    &_selected {
        background-color: #f5f5f5;
    }
}

.listItemInner {
    position: relative;
    display: block;
    padding-left: 22px;
    margin-right: 10px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    z-index: 2;
}

.listItemInfo {
    color: #8f9a9d;
    margin-left: auto;
    white-space: nowrap;
}

.listItem_selected .listItemInner {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCA5IDciPgogIDxwYXRoIGlkPSJmZWVkLXRhc2siIGQ9Ik0yNDkuMDEsMTQ4Ny43M2wtNS44NzgsNi4yOC0wLjEtLjExLTAuMS4xMS0yLjkzOS0zLjE0LDAuNjkzLS43NCwyLjM0OCwyLjUxLDUuMjg2LTUuNjVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjQwIC0xNDg3KSIvPgo8L3N2Zz4K)
        8px 6px no-repeat;
}

.groupInnerList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.groupTitle {
    display: block;
    padding: 7px 22px;
    color: #a8acaf;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
}

.search {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.searchIcon {
    width: 15px;
    height: 15px;
    margin-right: -15px;
    margin-bottom: 2px;
    z-index: 1;
    margin-left: 22px;
    fill: #6e747a;
}

.searchInput {
    font-size: 15px;
    padding: 0;
    padding-left: 20px;
    outline: none;
    border: none;
    line-height: 26px;
    height: 26px;
    border-bottom: 1px solid #4c8bf7;
    width: 100%;
    box-sizing: border-box;
}

.theme_card {
    .button {
        background: none;
        border: none;
        padding: 0;
    }

    .icon {
        position: relative;
        margin: 0 0 25px 20px;
    }

    .buttonInner {
        display: inline-block;
        max-width: 85%;
    }

    .container {
        top: -6px;
        left: -23px;
        width: calc(100% + 30px);
    }
}
