.root {
  position: relative;
  width: 100%;
  height: 64px;

  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    font-size: 18px;

    .breadcrumbs {
      position: relative;
      height: 100%;
      width: 60%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;

      .burger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        cursor: pointer;
  
        span {
          position: relative;
          display: block;
          background-color: #2d3640;
          width: 19px;
          height: 3px;
        }
      
        span::before {
          position: relative;
          display: block;
          content: '';
          background-color: #2d3640;
          width: 100%;
          height: 100%;
          top: -7px;
        }
      
        span::after {
          position: relative;
          display: block;
          content: '';
          background-color: #2d3640;
          width: 100%;
          height: 100%;
          top: 4px;
        }
      }

      .item {
        position: relative;
        max-width: 50%;
        overflow: hidden;
        font-size: 18px;
        color: #131420;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .separator {
        position: relative;
        width: 30px;
        display: flex;
        justify-content: center;
  
        .arrow {
          position: relative;
          width: 8px;
          height: 8px;
          left: -2px;
          top: 1px;
          transform: rotate(-45deg);
          border-right: 2px solid #131420;
          border-bottom: 2px solid #131420;
          opacity: 0.3;
        }
      }

      .current {
        display: flex;

        .title {
          position: relative;
          /* width: calc(100% - 20px); */
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 18px;
        }

        .editButton {
          position: relative;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-left: 5px;
          top: 1px;
  
          svg {
            position: relative;
            width: 10px;
            height: 10px;
            transform: scale(1.1);
            color: #b3b3b3;
          }
        }

        .editButton:hover svg {
          color: #4e4e4e;
        }
      }

      .edit {
        display: flex;
        align-items: center;
        top: 1px;

        input {
          position: relative;
          width: 250px;
          border: 0;
          outline: 0;
          background-color: transparent;
          font-size: 18px;
          border-bottom: 1px solid #1579d2;
          padding: 4px 0;
        }

        .saveButton {
          position: relative;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-left: 5px;
          
          svg {
            position: relative;
            width: 10px;
            height: 10px;
            transform: scale(1.6);
            color: #b3b3b3;
          }
        }

        .saveButton:hover svg {
          color: #126d00;
        }

        .spinner {
          position: relative;
          height: 15px;
          width: 15px;
          margin-left: 5px;
        }

        .spinnerIcon {
          display: block;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 1px;
          left: 0;
          border: solid 2px transparent;
          border-top-color: #158fd2;
          border-left-color: #158fd2;
          border-radius: 100%;
          animation: gnzs-amo--nprogress-spinner-elem 900ms linear infinite;
        }

        @keyframes gnzs-amo--nprogress-spinner-elem {
          0% {
            transform: rotate(0deg);
          }
          100%{
            transform: rotate(360deg);
          }
        }
      }
    }

    .slots {
      position: relative;
      display: flex;
      align-items: center;

      .paid {
        position: relative;
      }

      .buttons {
        position: relative;
        margin-left: 50px;
        display: flex;
      }
    }
  }

  .fixed {
    position: fixed;
    width: 100%;
    height: 64px;
    margin-left: -25px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 6px 10px 0.2px rgba(0, 0, 0, .03);
    padding: 0 25px;
  }

  .itsLink {
    color: #1579d2 !important;
    cursor: pointer;
  }
}