.contextButton{
    position: relative;
    display: inline-flex;

    &_opened .menu{
        display: block;
    }
}

.button{
    display: flex;
    height: 15px;
    padding: 5px;
    align-items: center;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    &:active{
        transform: translateY(1px);
    }
}   

.icon{
    width: 13px;
    height: 3px;
}

.menu{
    display: none;
    background: white;
    border: 1px solid #dfdfdf;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.menuItem{
    display: flex;
    cursor: pointer;
    background: #fff;
    font-weight: 400;
    white-space: nowrap;
    min-width: 105px;
    padding: 0 15px;
    line-height: 40px;
    align-items: center;

    &:hover{
        background: #f3f3f3;
    }
}

.menuItemIcon{
    width: 13px;
    height: 13px;
    margin-right: 6px;
}

.menuItemText{
    
}
