@import "@/assets/fonts/fonts.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: $font-size-main;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

body {
  background-color: $body-color;
}

.App {
  position: relative;
  width: 100%;
  padding: 0 25px 25px 25px;
}


.rowFlex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .val {
    margin-left: 15px;
  }
}

.columnFlex {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .val {
    margin-left: 15px;
  }
}

.sectionContent {
  width: 400px;
}

.rowTitle {
  margin-right: 10px;
  width: 300px;
}