.root {
  position: relative;
  margin-bottom: 40px;
}
.link {
  text-decoration: none;
}

.isLoad {
display: flex;
justify-content: center;
}

.tableContainer{
  margin: 20px -18px -29px;
  border-top: 1px solid #f1f1f1;
}

.table{
  width: 100%;
  background: white;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0; 

  thead{
      th{
          font-family: 'PT Sans Caption','Arial Black',sans-serif;
          font-size: 12px;
          font-weight: 700;
          white-space: nowrap;
          text-transform: uppercase;
          text-align: left;
          letter-spacing: 1px;
          line-height: 19px;
          padding: 12px 10px;
          height: 42px;
          box-sizing: border-box;
          color: #bbc1cc;
          overflow: hidden;
          border-right: 1px solid #e5e5e5;

          &:last-child{
            border-right: none;
          }
          &:first-child{
            padding-left: 18px;
          }
      }
  }

  td{
      white-space: nowrap;
      padding: 10px 5px 10px 10px;
      margin-right: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      position: relative;
      border-top: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      &:first-child{
        padding-left: 18px;
      }
  }

  .cellInner{
      display: flex;
      align-items: center;
  }

  tbody tr{
      &:hover{
          background: #f8faff;
      }
  }

  a{
      color: #0057a9;
      text-decoration: none;
  }
}